# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.log

# Java
*.class

# OS
.DS_Store
Thumbs.db

# Fabric
run/
logs/

# 本地依赖 jar（绝对不能上传）
libs/*.jar
!libs/.gitkeep